@font-face {
    font-family:sansation_bold;
    src:url(sansation_bold.ttf);
}

@font-face {
    font-family:sansation_reg;
    src:url(sansation_regular.ttf);
}

@keyframes opacityanimation {
    from {opacity:0%;}
    to {opacity:100%;}
}

@keyframes corneranimation {
    from {border-radius: 0px 15px 0px 15px;}
    to {border-radius: 15px 0px 15px 0px;}
}

@keyframes sidemenuanimation {
    from {
        border-radius:0px 8px 8px 0px;
        left:0px;}
    to {
        border-radius:8px 8px 8px 8px;
        left:14px;}
}

@keyframes sidemenupicanimation {
    0% {left:-450px;}
    50% {left:-50px;}
    100% {left:-450px;}
}

* {
    position:relative;
    font-family: sansation_bold, Arial, sans-serif;
}

body {
    width:1000px;
    margin:auto;
    background-color:#282828;
}

header {
    width:1000px;
    height:150px;
    background-color:black;
    color:#DDDDDD;
}

h1 {
    font-size:50px;
    text-shadow: 2px 2px 4px #008036;
    cursor: default;
}

h2 {
    font-size:36px;
    text-shadow: 2px 2px 4px #008036;
    cursor: default;
}

h3 {
    font-size:24px;
}

h1, h2, h3, p {
    margin:0;
    padding:0;
}

p {
    font-family: sansation_reg, Arial, sans-serif;
}

div {
    color:#DDDDDD;
}

a {
    color:#DDDDDD;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

#main {
    width:1000px;
    border: 1px solid black;
}

#headerpic {
    height:150px;
    width:150px;
    float:right;
}

#titles {
    padding-top:20px;
    padding-left:30px;
    width:700px;
    height:100px;
    float:left;
}

#navi {
    height:35px;
    width:100%;
    clear:both;
    background-color:#282828;
    position:relative;
    z-index:5;
}

.navi_ul {
    list-style-type: none;
    margin:0px;
    padding:0px;
    z-index:5;
}

.menuitem {
    float:left;
    height:25px;
    width:185px;
    text-align:center;
    margin-top:5px;
    margin-left:11px;
    padding-top:4px;
    border:1px solid #008036;
    border-radius: 0px 15px 0px 15px;
    font-size:16px;
    position:relative;
}

.menuitem:hover {
    animation-name:corneranimation;
    animation-duration:0.8s;
    background-color:#323232;
    border-radius: 15px 0px 15px 0px;
    cursor: default;
}

.dropdown {
    display:none;
    width:187px;
    top:30px;
    background-color:#282828;
    position:absolute;
}

#link1:hover {
    cursor: pointer;
}

#link2:hover > #drop2{
    display:block;
    animation-name:opacityanimation;
    animation-duration:0.8s;
}

#link3:hover > #drop3{
    display:block;
    animation-name:opacityanimation;
    animation-duration:0.8s;
}

#link4:hover > #drop4{
    display:block;
    animation-name:opacityanimation;
    animation-duration:0.8s;
}

#link5:hover {
    cursor: pointer;
}

.dropdownlink {
    height:25px;
    width:185px;
    text-align:center;
    margin-top:3px;
    margin-bottom:2px;
    padding-top:4px;
    border:1px solid #008036;
    border-radius: 15px 0px 15px 0px;
    font-size:16px;
}

.dropdownlink:hover {
    background-color:#323232;
}

.sidebars {
    width:190px;
    height:617px;
    float:left;
    margin-right:12px;
    margin-left:7px;
}

.sidebardiv {
    width:180px;
    height:300px;
    border:1px solid black;
    background-color:#323232;
    border-radius:8px;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    margin-top:5px;
    box-shadow: 1px 1px 1px black;
    overflow:hidden;
}

.sidebardiv label, p, input {
    font: 12px sansation_reg, Arial, sans-serif;
}

#secnavi {
    height:617px;
}

#secnavipic {
    height:426px;
    width:170px;
    overflow:hidden;
    margin-top:170px;
    margin-left:5px;
    border-radius:5px;
}

#secnavipic img {
    animation-name:sidemenupicanimation;
    animation-duration:40s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}

.secmenuitem {
    float:left;
    height:20px;
    width:140px;
    text-align:left;
    margin-top:7px;
    padding-left:6px;
    padding-top:2px;
    border:1px solid #008036;
    border-radius: 0px 8px 8px 0px;
    font-size:13px;
    position:relative;
}

.secmenuitem:hover{
    animation-name:sidemenuanimation;
    animation-duration:0.6s;
    border-radius: 8px 8px 8px 8px;
    left:14px;
    background-color:#282828;
}

#maincontent {
    width:560px;
    height:617px;
    float:left;
    overflow:auto;
    border:1px solid black;
    background-color:#323232;
    border-radius:8px;
    padding:5px;
    margin-top:5px;
    margin-left:5px;
    position:relative;
    box-shadow: 1px 1px 1px black;
}

#maincontent p {
    font:18px Arial, sans-serif;
    margin:10px;
}

#maincontent h3 {
    margin:10px;
}

#maincontent img {
    height:180px;
    float:right;
    margin-left:5px;
    margin-right:10px;
    border-radius:5px;
}

#email {
    width:150px;
    margin-top:5px;
}

#emailsubmit {
    margin-top:5px;
    margin-bottom:10px;
}

#authorpic {
    height:100px;
    width:100px;
    position:relative;
    left:42px;
    top:10px;
    border-radius:5px;
}

footer {
    padding-top:3px;
    clear:both;
    height:17px;
    width:100%;
    text-align:center;
    font-size:12px;
}
